<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
       http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
       ">
       

    <!-- Datasource -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
	    <property name="url" value="${jdbc.url}" />
	    <property name="username" value="${jdbc.username}" />
	    <property name="password" value="${jdbc.password}" />
	    <property name="initialSize" value="3" />
	    <property name="maxActive" value="20" />
	    <property name="validationQuery" value="select 1" />
	    <property name="filters" value="stat" /> 
	</bean>
    
	<mybatis:scan base-package="jp.ac.tokushima_u.is.ll.dao" />
	
    <!-- Hibernate configuration -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="namingStrategy">
            <bean class="org.hibernate.cfg.ImprovedNamingStrategy" />
        </property>
		<property name="hibernateProperties">
			<bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<property name="locations" value="${hibernate.config.location}" />
			</bean>
		</property>
        <property name="packagesToScan" value="jp.ac.tokushima_u.is.ll.entity*" />
    </bean>
    <bean id="hibernateDao" class="jp.ac.tokushima_u.is.ll.common.orm.hibernate.HibernateDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="jp.ac.tokushima_u.is.ll.mapper" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="jp.ac.tokushima_u.is.ll.entity" />
	</bean>

    <!-- Transaction -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
    
    <!-- MongoDB -->
    <mongo:db-factory id="mongoDbFactory" host="${mongodb.host}" port="${mongodb.port}" dbname="${mongodb.dbname}" username="${mongodb.username}" password="${mongodb.password}"/>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="mongoDbFactory" />
    </bean>
</beans>